
<div style="text-align:center">
    <h1>Carbon UI Elements in Ms</h1>
    <input ibmText/>
    <ibm-checkbox
                  checked="true"
                  [hideLabel]="hideLabel"
                  (change)="onChange($event)">
                  Checkbox1
        </ibm-checkbox>
        <!-- <ibm-checkbox
                  checked="true"
                  [hideLabel]="hideLabel"
                  (change)="onChange($event)">
                  Checkbox2
              </ibm-checkbox> -->
    <button ibmButton>Button</button>


  <!-- <router-outlet></router-outlet> -->
</div>